<p><%= link_to 'All Exercises', resources_path %></p>
<h1 class="admin"><%= resource.title %></h1>
<p><%= resource.description %></p>
<p><%= link_to "Edit", edit_resource_path(resource), class: "bttn-edit" %></p>

