<% provide(:title, 'Home - ImprovTree') %>

<div class="splash">
	<%= image_tag "improvtree-200.jpg" %>
  <h1 class="splash-title">ImprovTree</h1>
  <p class="splash-copy">Self-directed improv training</p>
</div>