.admin-navigation {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
}

.admin-navigation-link {
  text-decoration: none;
  border: 1px solid black;
  border-bottom-color: white;
  color: black;
  padding: 2px 4px 0;
}

.admin-navigation-link-active {
  @extend .admin-navigation-link;
  padding-bottom: 1px;
  margin-bottom: -1px;
}

h1.admin {
  font-size: 1.2em;
}

h2.admin {
  font-size: 1.0em;
}

table.admin td {
  text-align: left;
  padding: 6px 10px;
  vertical-align: top;
}

table.admin th {
  text-align: left;
  padding: 6px 10px;
  background-color: lightgray;
}

table.admin {
  margin-top: 10px;
}

.bttn {
  font-size: .8em;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin: 1px;
}

.bttn-show {
  @extend .bttn;
  background-color: blue;
}

.bttn-edit {
  @extend .bttn;
  background-color: green;
}

.bttn-del {
  @extend .bttn;
  background-color: red;
}

.bttn-new {
  @extend .bttn;
  background-color: cadetblue;
}

li.input {
  list-style-type: none;
}

// Hide some nasty labels in class page forms
.formtastic.rep {
  ol.choices-group {
    padding: 0;
  }

  #rep_enrollments_input {
    lagend.label {
      display: none;
    }

    label {
     font-size: 0;

     input {
      font-size: initial;
     }
    }
  }
}
