<% content_for(:header) do %>
  <nav class="admin-navigation">
    <%= admin_navigation_link "Users", admin_users_path %>
    <%= admin_navigation_link "Exercises", admin_exercises_path %>
    <%= admin_navigation_link "Series", admin_series_index_path %>
  </nav>
<% end %>
<%= render template: 'layouts/shell' %>
